
      /* 
      -----------Nav Section----------------
      */
      .navbar-display{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 16px;
      }
      .signup-btn{
        border-radius: 0.6em;
      }
      .dropdown-toggle::after{
        display: none;
      }
      /* 
      ------------Main Section-------------
      */
      
      main{
           min-width: 100vw;
           margin: -8px;
           margin-top: -16px;
        }
        video{
            width: 100%;
            height:100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .discover-flex{
            display: flex;
            align-items: center;
            color: white;
            overflow: scroll;
            margin: 2.5rem;
            font-size: 1.25rem;
            /* background-color: rgba(255, 255, 255, 0.3); */
        }
        .discover-flex::-webkit-scrollbar{
            display: none;
        }
        .discover-flex > p {
            border: none;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 1.5rem;
            margin: 0.5rem;
            padding: 0.5rem;
            /* line-break:strict; */
        }
        .discover-flex > p:hover{
            background-color: white;
            color: black;
        }
        .main-content{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            margin: 1.5rem;
            position:relative;
        }
        .main-content * {
            text-align: center;
        }
        #search{
            width: 50%;
            border-radius: 1.5rem;
            border: none;
            outline: none;
            text-align: start;
            padding: 0.7rem;
            padding-left: 3rem;
            margin: 1.5rem;
        }
        .main-content-trending{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            margin: 1.5rem;
        }
        .main-content-trending > p {
            margin: 0.5rem;
            border: 1px solid white;
            border-radius: 1.5rem;
            padding: 0.3rem;
        }
        @media screen and (max-width: 425px) {
          .main-content{
            font-size: 0.6rem;
          }
          .discover-flex{
            margin-left: 10vw;
          }
        }
        @media screen and (min-width: 425px) {
            /* main{
                min-height: 100vh;
            } */
            .main-content{
                font-size: 1.2rem;
              
            }
            
            .discover-flex{
                font-size: 1.2rem;
                white-space: nowrap;
                margin: 3rem;
                margin-left: 15vw;
            }
            #serach{
                width: 75%;
            }
            
        }
        @media screen and (max-width: 670px){
          .main-content > svg {
            top: 51% !important;
          }
        }
    
        /* 
        ----------------Footer Section ---------------
        */

        footer svg {
          color: black;
        }
    

      /* --------------Grid of Cards------------------ */
      .grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3em;
        background-color: white;
    }
    .card{
        max-width: 300px;
        border:none;
        color: grey;
    }
    .card-img{
        position: relative;
    }
    img{
        max-width: 100%;
        border-radius: 0.75em;
    }
    .img-title{
        display: flex;
        position: absolute;
        top: 0em;
        width: 100%;
        min-height: 15em;
        color: white;
    }
    .img-title  * {
        display: none;
    }
    .img-title:hover * {
        display: inline-flex;
        /* background: linear-gradient(45deg, rgba(0,0,0, 0.3), rgba(255, 255, 255, 0.3)); */
    }
    .img-title:hover{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        padding-bottom: 1.85vh;
        border-bottom-left-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
        min-height: 1em;
        display: flex;
        flex-direction: row;
        padding-top: 0;
        top: 11.2em;
        color: white;
    }
    .img-title #branding {
        flex: 3;
        display: flex;
        justify-content: flex-start;
        
    }
    .img-title #buttons{
        flex: 1;
    }
    
    .img-title > div{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .img-title button{
        background-color: rgba(223, 220, 220, 0.9);
        border: none;
        margin: auto 0.5em;
        padding: 0.5em;
        border-radius: 10%;
    }
    .img-title svg{
        color: rgb(75, 72, 72);
    }
    .card-body{
        display: flex;
        align-items: center;
        font-size: 0.9em;
    }
    .card-body > img:hover, b:hover, svg:hover{
        color:red;
    }
    .card-body div{
        flex: 1;
        display: flex;
        align-items: center;
    }
    .card-details{
        justify-content: flex-end;
    }
    .card-body svg{
        height: 0.9em;
        width: 0.9em;
    }
    .badge{
        color: white;
        background-color: lightgrey;
        border-radius: 0.25em;
        margin-left: 0.25em;
    }
    .badge:hover{
        background-color: red;
    }
    #folder-button{
        background: url('./grey-folder.jpg'), grey;
        background-size: contain;
        box-sizing: content-box;
        height: 1rem;
        width: 1rem;
        padding:8px;
        border: none;
        margin: auto 0.5em;
        padding: 0.5em;
        border-radius: 10%;
        opacity: 0.7;
    }
    #folder-button:hover{
        background: url('./red-folder.jpg');
        background-size: contain;
    }
    #heart-button{
        background: url('./grey-heart.jpg'), grey;
        background-size: contain;
        box-sizing: content-box;
        height: 1rem;
        width: 1rem;
        padding:8px;
        border: none;
        margin: auto 0.5em;
        padding: 0.5em;
        border-radius: 10%;
        opacity: 0.7;
    }
    #heart-button:hover{
        background: url('./red-heart.jpg');
        background-size: contain;
    }
    #eye-icon{
        background: url('./grey-eye.jpg') no-repeat;
        background-size: contain;
        height: 1em;
        width: 1em;
        border: none;
    }
    #eye-icon:hover{
        background: url('./red-eye.jpg') no-repeat;
        background-size: contain;
    }
    #heart-icon{
        background: url('./grey-heart.jpg') no-repeat;
        background-size: contain;
        height: 1em;
        width: 1em;
        border: none;
    }
    #heart-icon:hover{
        background: url('./red-heart.jpg') no-repeat;
        background-size: contain;
    }

    
    .media-body > svg{
        display: none;
       }
       @media screen and (min-width: 768px){
        .media:hover > .media-body > svg{
        display: inline;
        }
       }
      